<div class=" row ">
  
  <div class="col-md-2 "></div>
  <div class="col-md-8 form">
          <form class=""  [formGroup] ="myForm" novalidate (ngSubmit)="send(myForm)" autocomplete="off">
                  <!-- <input style="opacity: 0;position: absolute;">
                  <input type="password" style="opacity: 0;position: absolute;"> -->
                  
                <p class="h5 text-center mb-4">MailService</p>
                 <div class="form-group">
                   
                  <input (keydown)="onChange()" type="text" placeholder="sujet" id="subject" class="form-control" formControlName="title">
                 
                </div>
          
                <div class="">
                  <angular-editor style="text-align: left"  formControlName="body" [config]="editorConfig"></angular-editor>
              </div>
                <div class="hidden">
                    <button type="submit" class="btn btn-success col-md-12" >Envoyer</button>
                   
                    <div *ngIf="wrong" class="text-center">  <br><label for="" class="alert alert-danger">Numero Ou Pin Incorrect</label> </div>
                  </div>
                
                <!-- <div class="text-center">entered: {{myForm.value}}</div> -->
  
  
  <div class="col-md-2"></div>    
        </form>
  </div>
  <div class="col"></div>

</div>








